.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    color: blueviolet
}

.h3{
    width: 100%;
    padding: 10px;
    margin-top: 5px; 
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    border: 2px solid blueviolet
}

.select{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    border: 2px solid blueviolet
}